*{
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,ol{
    list-style: none;
}
a{
    text-decoration: none;

}



h1,h2,h3,h4,h5,h6,span,nav,div{
    padding: 0;
    margin: 0;
}
.container{
    width: 80%;
    margin: 0 auto;

}
/*
    font-family: "Shadows Into light", cursive;
    font-family: "Pacifico",cursive;
    font-family: "Protest Revolution",sans-serif;
    font-family: "Dancing Script" cursive;

*/


.banner{
    background: url(../images/bennar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    background-position: center;
    background-attachment: fixed;
    
}
.content{
    font-family: "Pacifico",cursive;
    font-size: 35px;

}
.content p{

}

.icon{
    background-color: teal;
    text-align: center;
}
.icon ul{
    display: inline-flex;
}
.icon ul li{
    height: 50px;
    width: 120px;
    line-height: 50px;

}
.icon ul li a{
    color: white;
    font-size: 25px;

}
.icon ul li:first-child a{
    color: blue;
}
.icon ul li:nth-child(2) a{
    color: darkblue;
}
.icon ul li:last-child a{
    color: red;
}
/* form --------------   */

.form_main{
    width: 500px;
    height: 600px;
    background: linear-gradient(teal,green,#c284ec);    
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    
}
.form_main:hover{
    box-shadow: 1px 1px 20px rgb(1, 1, 1);
    transition: all linear .3s;
}

.form_main form input{
    padding: 10px 30px;
    background: transparent;
    border: none;
    border: 2px solid rgb(0, 85, 255);
    border-radius: 30px;
    margin-top: 10px;
}
.form_main form input::placeholder{
    color: #f1f0f0;
}
.form_main form button{
    margin-left: 25%;
    padding: 10px 35px;
    border: none;
    border-radius: 30px;
    background-color: aqua;
    color: blueviolet;
}

/* form ----------end----   */
